#imgme{
    filter: grayscale(80%)
}

#imgme:hover{
    filter: none;
}

i.fa:hover{
    color: #000;
}

div.customshadow.shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(189 187 187 / 37%), 0 4px 6px -2px rgba(0,0,0,.05);
}

div.d-block{
    display: block ;
}

div.container{
    overflow: hidden
}


.bganimation{
    animation-name: backgroundColorPalette;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes backgroundColorPalette {
    0% {
      background: #0E131F;
    }
    25% {
      background: #38405F;
    }
    50% {
      background: #59546C;
    }
    75% {
      background: #8B939C;
    }
    100% {
      background: #A4AC96;
    }
  }